
body {
  padding-top: 3.5rem;
  font-family: 'Fira Sans', sans-serif !important;
}

/* NAVBAR */
.navbar{
	background-color: rgb(235, 205, 34);
}

.navbar-brand{
	color: #fff;
}

.navbar-brand:hover{
	color: #000;
}

.nav-item > .nav-link{
	min-width: 48px;
	margin: 0px 20px;
	color: #fff;
}

.nav-item > .nav-link:hover{
	border-bottom: 1px solid;
	color: #000;
}

/* MAIN STUFF */
.jumbotron{
	background-image: url(images/webanner.png);
	display: inline-block;
	vertical-align: middle;
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
}

.engineering, .webDesign, .branding{
  min-width: 30%;
}

.container > h3{
	color: #ffffff;
	font-family: 'Noto Sans', sans-serif !important;
	font-size: 30px;
	margin: 50px 10px;
}

.jumbotron > .container > p > .btn{
	font-family: 'Noto Sans', sans-serif !important;
	margin: 0px 10px;
	font-weight: 700; 
}

.jumbotron > .container > p > .btn:hover{
	color: #fff;
}

/* FONT AWESOME */
.row{	
  font-size: ;
 	text-align: center;
}

.row .fa{
  font-size: 70px;
  color: rgb(235, 205, 34);
}
